<table datatable class="mat-elevation-z8">
    <thead class="bg-dark text-white">
        <tr>
            <td>Name</td>
            <td>Status</td>
            <td>RTSP URL</td>
            <td>FileName</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of videos">
            <td>{{item.video_name}}</td>
            <td [ngClass]="item.status | lowercase">{{item.status}}</td>
            <td>{{item.rtsp_url}}</td>
            <td>{{item.file_name}}</td>
            <td style="width: 30%">
                <button mat-stroked-button color="primary" (click)="playVideo(item)">Play</button>&nbsp;
                <!--a class="btn btn-primary" (click)="playVideo(item)">Play</a-->&nbsp;
                <button mat-stroked-button color="accent" (click)="stopVideo(item)">Stop</button>&nbsp;
                <button mat-stroked-button color="warn" (click)="deleteVideo(item)">Delete</button>&nbsp;
            </td>

        </tr>
    </tbody>
</table>
