table {
    width: 70%;
    align-items: center;
    border: 1px solid black;
    border-collapse: collapse;
  }
.app-tr {
    border: 1px solid;
}

.app-tr-header {
    border: 1px solid;
    font-weight: bold;
}
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .ready{
    color: olivedrab;
    font: bold;
  }

  .playing{
    color: orange;
    font: bold;
  }

  .failed_transcoding{
    color: red;
    font: bold;
  }
  