*.log
Broadcaster_service/videos/upload
Broadcaster_service/videos/warehouse

Broadcaster_frontend/.editorconfig
Broadcaster_frontend/.vscode/
Broadcaster_frontend/node_modules
Broadcaster_frontend/.angular/cache


Broadcaster_front/.editorconfig
Broadcaster_front/.vscode/
Broadcaster_front/node_modules

*.mp4

# ide
.idea/
Broadcaster_service/.idea/
Broadcaster_service/__pycache__/
